---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?key=AIzaSyCRRqK-CPdG1Rw0GoJyMEmWh29t6HmSt5o&maxResults=3&part=snippet&q=the-last-enemy1-23j8&type=video&videoEmbeddable=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Honeycomb-Trace:
      - 1;dataset=,trace_id=ca2454c5-711f-411f-b804-97e13b6d05c1,parent_id=f03fe714-8361-4d06-9751-fbbe62672005,context=e30=
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Dn5xIderbhAnUk5TAW0qkFFir0M/IbD5oWMOGEjGuw0lIQyVTeVcGAw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "youtube#searchListResponse",
         "etag": "\"Dn5xIderbhAnUk5TAW0qkFFir0M/IbD5oWMOGEjGuw0lIQyVTeVcGAw\"",
         "regionCode": "US",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 3
         },
         "items": []
        }
  recorded_at: Tue, 12 May 2020 15:36:56 GMT
recorded_with: VCR 5.1.0
