<% title "Machine Collections" %>

<% @machine_collections.each do |collection| %>

Collection Tags:<%= collection.tags %>
Collection Articles:<%= collection.articles.map { |a| a.title } %>
<% end %>

<div class="home">
  <div class="item-list-container" id="reading-list">
  </div>
</div>
<%= javascript_pack_tag "collectionsList", defer: true %>
