<div class="home">
  <div id="machine-collections" data-algolia-key="<%= @secured_algolia_key %>" data-collections="<%= @collections %>">
  </div>
</div>
<%= javascript_pack_tag "collectionList", defer: true %>
