<div class="articleformcontainer">
    <div class="articleform">
      <form class="articleform__form articleform__form--v2">
          <div id="collections-form-container">
          </div>
        </div>
        <div class="articleform__buttons">
            <p><button class="clear-button">clear</button></p>
            <button class="articleform__buttons--publish">PUBLISH</button>
        </div>
      </form>
    </div>
<%= javascript_pack_tag "collectionsForm", defer: true %>

<style>
  #footer-container {
    display: none
  }
</style>
