<div class="articleformcontainer">
  <div class="articleform">
    <form class="articleform__form articleform__form--v2">
        <div id="collections-form-container">
        </div>
    </form>
  </div>
</div>
<%= javascript_pack_tag "collectionsForm", defer: true %>

<style>
  #footer-container {
    display: none
  }
</style>
