<% @machine_collection%>

<div class="home">
  <div class="item-list-container" id="reading-list" data-collection="<%= @machine_collection.to_json() %>">
  </div>
</div>
<%= javascript_pack_tag "collectionList", defer: true %>
