<section>
  <p>Number of total visits to the site: </p>
  <p>Number of visits per day: </p>
  <p>Average active time on pages per day: </p>
  <p>Total articles read: </p>
  <p>Total words read: </p>
  <p>Average articles & words per day: </p>
  <p>Number of comments: </p>
</section>
