<% title "Pro Analytics" %>

<div class="dashboard-container pro-container" id="user-dashboard">
  <a href="/dashboard" class="rounded-btn rounded-btn--transparent">👈 Back to Main Dashboard</a>

  <section class="header-card card">
    <h1 class="pro-header">Reader Stats</h1>
    <p>Welcome to the Pro Dashboard, the home of in-depth user metrics so that authors can make data-driven decisions about the developer ecosystem.</p>
    <p>This dashboard highlights deep insights especially relevant to developer relations, authors, and serious bloggers.</p>
  </section>

  <%= render "shared/reader_stats" %>
</div>

<%= javascript_pack_tag "statsDashboard", defer: true %>
